<% provide(:title, 'Assign Students') %>
<% content_for :page_packs do %>
  <%= javascript_pack_tag 'vue_assign', 'data-turbolinks-track': 'reload', defer: true %>
  <%= stylesheet_pack_tag 'vue_assign', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container">
  <h2 class="display-2" style="margin:1em 0 0.5em 0">Assign Students</h2>
  <div class="row" style="margin-top:1em;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= link_to "Batch Assign&nbsp; <i class='fas fa-arrow-right' style='font-size:80%'></i>".html_safe, {action: "batch_assign"}, {class: "btn btn-secondary"} %>
    </div>
    <div class="col-md-3"></div>
  </div>
  <br>
  <%= content_tag :div,
  id: 'assign-form-vue',
  data: {
    students: @students,
    supervisors: @supervisors,
  }.to_json() do %>
  <div class="d-flex justify-content-center">
    <h4 style="margin-top:2em;color:lightgrey"><i class="fas fa-sync-alt fa-spin" style="font-size:80%;"></i>&nbsp;&nbsp;Loading assign form...</h4>
  </div>
  <% end %>
</div>
