<% provide(:title, 'Database Activity') %>
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div class="container">
  <h4 class="display-4 aheading animated fadeInDown faster">Database Activity</h4>
  <br>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link da-nav active" id="db_f_all">All Activities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link da-nav" id="db_f_students">Students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link da-nav" id="db_f_supervisors">Supervisors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link da-nav" id="db_f_supervisions">Supervisions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link da-nav" id="db_f_users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link da-nav" id="db_f_todos">Todos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link da-nav" id="db_f_departments">Departments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link da-nav" id="db_f_groups">Groups</a>
    </li>
  </ul>
  <br>
  <table class="table admin-activity-table table-hover" data-source="<%= trails_path(format: :json) %>">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Event</th>
        <th scope="col">By Who</th>
        <th scope="col">Time</th>
        <th scope="col">Changes</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
