<% provide(:title, 'Sync Records') %>
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div class="container">
  <h4 class="display-4 aheading animated fadeInDown faster">Sync Records</h4>
  <br>
  <table class="table admin-sync-records-table table-hover" style="font-size:14px; width:100%" data-source="<%= sync_records_path(format: :json) %>">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Started At</th>
        <th scope="col">Ended At</th>
        <th scope="col">Duration</th>
        <th scope="col">Errors</th>
        <th scope="col">Errors Discription</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
