table.dataTable > tbody > tr.child ul.dtr-details {
  display: block !important;
}

table.dataTable td {
  vertical-align: middle !important;
}

table.dataTable td:first-child::before {
  top: 18px !important;
}

.dataTables_paginate {
  padding-top: 0.85em !important;
}

.dt-btn {
  height: 35px;
  width: 48px;
}

@media only screen and (max-width: 767px) {
  .dt-btn {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
  }
}

.dt-btn-rm {
  line-height: 1.5em !important;
}

.dt-rel {
  margin-top: -0.4em;
  margin-bottom: -0.4em;
}

.dt-rel-row {
  margin-right: 1em !important;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.dtr-details .dt-rel-row {
  margin-top: 0.3em;
}

.dt-rel-name {
  white-space: nowrap;
  overflow: hidden;
  line-height: 2.2em;
}

.dt-rel-fypyear {
  line-height: 2.2em;
}

.dtr-details .dt-rel-name {
  line-height: 2em;
}

.dtr-details .dt-rel-fypyear {
  line-height: 2em;
}

.dt-gp-mem {
  margin-top: -0.2em;
  margin-bottom: -0.2em;
}

.dt-gp-mem-row {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
